/* Main layout styles */

  .m-layout { margin: 0 1% 0 5%; }
  
  .m-layout .m-col-left { width: 27%; float: left; }
  .m-layout .m-col-center { width: 72%; float: left; }
  .m-layout .m-col-center .m-col-center-right,
  .m-layout .m-col-center .m-col-center-right .m-col-2 { width: 60%; float: right; }
  .m-layout .m-col-center .m-col-center-left,
  .m-layout .m-col-center .m-col-center-right .m-col-1 { width: 40%; float: left; }

/* Main layout styles (end) */

.m-header .search .search-bg i,
.m-header .menu .menu-top,
.m-header .menu .menu-bottom,
.m-header .menu ul li i,
.m-header .menu ul li.selected i.slider
{ background: url(interface.png) no-repeat 0 0; }

/* Styles for header */

  .m-header { padding-top: 15px; }
  
  .m-header .search { height: 34px; width: 95%; position: relative; left: -35px; margin-bottom: 20px; }
  .m-header .search .search-bg { position: relative; }
  .m-header .search .search-bg i { height: 34px; width: 50%; position: absolute; }
  .m-header .search .search-bg i.l { left: 0; background-position: -12px 0; }
  .m-header .search .search-bg i.r { left: 50%; background-position: right 0; }
  .m-header .search .search-in { margin-left: 35px; padding-top: 5px; padding-left: 4em; position: relative; }
  .m-header .search .search-in label { position: absolute; left: 0; top: 9px; }
  
  .m-header .menu { padding-bottom: 28px; font-size: 13px; position: relative; }
  .m-header .menu .menu-top,
  .m-header .menu .menu-bottom { height: 28px; width: 11px; position: absolute; left: -1px; }
  .m-header .menu .menu-bottom { background-position: left bottom; }
  
  .m-header .menu ul { padding-top: 28px; }
  .m-header .menu ul li { padding-left: 50px; height: 19px; position: relative; padding-top: 3px; }
  .m-header .menu ul li.selected i.slider { position: absolute; width: 50px; height: 66px; left: -14px; top: -18px; background-position: -12px -204px; z-index: 2; }
  .m-header .menu ul li i.line { width: 11px; height: 22px; left: -1px; top: 0; position: absolute; background-position: 0 -50px; }
  .m-header .menu ul li i.l { width: 30px; border-top: 1px solid #b9b8ad; position: absolute; left: -33px; top: 11px; }
  .m-header .menu ul li i.r { width: 30px; border-top: 1px solid #b9b8ad; position: absolute; left: 13px; top: 11px; }
  .m-header .menu ul li.line i.l { width: 55px; left: -58px; } 
  .m-header .menu ul li.line i.r { width: 55px; } 
  
  .m-header .top-menu { padding-top: 9px; }
  .m-header .top-menu li { margin-bottom: 3px; position: relative; }
  .m-header .top-menu li span { display: inline-block; margin-top: 1px; font-size: 10px; font-family: Arial, sans-serif; line-height: 10px; }

  .m-header .top-menu li.popup a i,
  .m-header .top-menu li.music a i { left: -12px; top: 5px; position: absolute; width: 9px; height: 11px; background: url(top-menu-icons.gif) no-repeat 0 0; }
  .m-header .top-menu li.music a i { background-position: -10px 0; top: 4px; }
  
/* Styles for header (end) */
  