/* Enable VML for IE */
 
  v\:* { behavior: url(#default#VML); display: block; }
  
/* Enable VML for IE (end) */

/* Global definitions (begin) */
 
  .g-clear, .g-clear-left, .g-clear-right { font-size: 0; height: 0px; overflow: hidden; position: relative; }

	.g-limit {
	  width: expression(
	    (document.documentElement.clientWidth || document.body.clientWidth) < 1000 ? '1000px' :
	      (document.documentElement.clientWidth || document.body.clientWidth) > 1400 ? '1400px' :
	        '100%'
	    );
	  }
 
/* Global definitions (end) */

/* Global definitions: Links (begin) */
 
  .g-pseudo-link { _height: 0; zoom: 1; cursor: hand; }
 
/* Global definitions: Links (end) */